<div class="sites-embed-content sites-embed-type-ggs-gadget">
<iframe title="Include gadget (iframe)" width="100%" height="100%" scrolling="no" frameborder="0" id="703344765" name="703344765" allowtransparency="true" class="igm" src="//mj89sp3sau2k7lj1eg3k40hkeppguj6j-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=http://www.gstatic.com/sites-gadgets/iframe/iframe.xml&container=enterprise&view=default&lang=en&country=ALL&sanitize=0&v=8be8763db9005d0&libs=core&mid=170&parent=https://sites.google.com/site/unblockedgameswtf/madalin-cars-multiplayer#up_scroll=no&up_iframeURL=https://zayaruzostreetorgan.com/uploads/5/5/6/7/5567194/custom_themes/653104830385377496/madalin-cars-multiplayer.html&st=e%3DAIHE3cCfNQmkZTUB0DixX6GnDRcbZZ73HK9hbioX4cvJhcoVBToafzdWDGxY98HgcFrlvJ%252Fk%252B0w3%252FYLTmK%252BdtZjoOBlq9JqPuwSgUMou1D6of47yGGWoKy2rsJYJUuc%252BCTCYlE2Lm1a%252B%26c%3Denterprise&rpctoken=-6614164487464040284"/>
</div>
</div>
</div>
</div>
</td>
<td class="sites-layout-tile sites-tile-name-content-3 sites-canvas-sidebar">
</tr>
</tbody>
</table>
<div class="sites-layout-tile sites-tile-name-footer sites-layout-empty-tile">
</div>
</div>
</div>
<div id="sites-canvas-bottom-panel">
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="sites-chrome-footer-wrapper">
</div>
</div>
<div id="sites-chrome-adminfooter-container">
</div>
</div>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" src="https://ssl.gstatic.com/sites/p/ab72d5/system/js/jot_min_view__en.js"/>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript" defer="true">
<script xmlns="http://www.w3.org/1999/xhtml">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript" defer="true">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
<div id="server-timer-div" style="display: none;"/>
<script type="text/javascript">
<div id="4e870098-9164-43ba-aae7-6ddab946be5b" data-gg-chat-anchor="true" style="z-index: 2147483647; position: relative; display: block; height: 0px; min-height: 0px; width: 0px; min-width: 0px; margin: 0px; padding: 0px; border: 0px;">
<div id="09598ee8-f43f-48a5-b7cc-e0ed11105846" data-gg-privacy-banner-anchor="true" style="z-index: 2147483647; position: relative; display: block; height: 0px; min-height: 0px; width: 0px; min-width: 0px; margin: 0px; padding: 0px; border: 0px;">
<iframe src="about:blank" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 250px;" id="FirebugUI"/>
</body>
<div id="elem_ext" style="display: none;"/>
<grammarly-desktop-integration data-grammarly-shadow-root="true"/>
</html>
 
Inherited fromdiv#sites-chrome-page-wrapper
element.style {
  direction:ltr;
}
I
