</div>
</div>
<div id="sites-chrome-adminfooter-container">
</div>
</div>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" src="https://ssl.gstatic.com/sites/p/ab72d5/system/js/jot_min_view__en.js"/>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript" defer="true">
<script xmlns="http://www.w3.org/1999/xhtml">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript" defer="true">
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
<div id="server-timer-div" style="display: none;"/>
<script type="text/javascript">
<div id="4e870098-9164-43ba-aae7-6ddab946be5b" data-gg-chat-anchor="true" style="z-index: 2147483647; position: relative; display: block; height: 0px; min-height: 0px; width: 0px; min-width: 0px; margin: 0px; padding: 0px; border: 0px;">
<div id="09598ee8-f43f-48a5-b7cc-e0ed11105846" data-gg-privacy-banner-anchor="true" style="z-index: 2147483647; position: relative; display: block; height: 0px; min-height: 0px; width: 0px; min-width: 0px; margin: 0px; padding: 0px; border: 0px;">
<iframe src="about:blank" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 250px;" id="FirebugUI"/>
</body>
<div id="elem_ext" style="display: none;"/>
<grammarly-desktop-integration data-grammarly-shadow-root="true"/>
</html>
 
Inherited fromdiv#sites-chrome-page-wrapper
element.style {
  direction:ltr;
}
I
